* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgreen;
}

html{
    font-size: 62.5%; /*now you can use rem-font by multiplying to 10 so....4rem means 40px so it will be beneficial for user and dev also*/
}
h1{
    font-size: 4rem;
}

p{
    font-size: 2rem;
}

h2{
    font-size: 3rem;
}